################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ch06Ex01_02_etc/v16/Server/sqlite3
